.product-display-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.display-row img{
  width: 350px;
}
